
body
  margin 0px
  display -webkit-flex
  position absolute
  height 100%
  width 100%

*
  box-sizing border-box
  -moz-box-sizing border-box
  // box-shadow 0px 0px 4px hsl(0,0,80)
  font-family Monaco, monospace

#editor
  width 72%
  height 100%
  box-shadow 0px 0px 2px hsl(0,0,100)

#tree
  width 28%
  height 100%
  overflow scroll
  font-size 14px
  line-height 28px
  background hsl(240,80,80)
  color white

  .control
    position fixed
    padding 8px

    .button
      border none
      display inline-block
      cursor pointer
      text-transform capitalize

  .files
    padding 60px 0px 100px

    .file
      padding 0px 9px
      cursor pointer

      &:hover
        background hsl(240,80,83)

    #focus
      background hsl(240,80,85)